@theme {
  --color-background: hsl(118 59% 99%);
  --color-foreground: hsl(118 77% 3%);

  --color-card: hsl(118 59% 98%);
  --color-card-foreground: hsl(118 77% 2%);

  --color-popover: hsl(118 59% 98%);
  --color-popover-foreground: hsl(118 77% 2%);

  --color-primary: hsl(118 31% 85%);
  --color-primary-foreground: hsl(118 31% 25%);

  --color-secondary: hsl(118 9% 91%);
  --color-secondary-foreground: hsl(118 9% 31%);

  --color-muted: hsl(118 35% 85%);
  --color-muted-foreground: hsl(118 0% 29%);

  --color-accent: hsl(118 19% 85%);
  --color-accent-foreground: hsl(118 19% 25%);

  --color-destructive: hsl(13 94% 26%);
  --color-destructive-foreground: hsl(13 94% 86%);

  --color-border: hsl(118 7% 94%);
  --color-input: hsl(118 7% 94%);
  --color-ring: hsl(118 31% 85%);

  --color-chart-1: hsl(118 31% 85%);
  --color-chart-2: hsl(118 9% 91%);
  --color-chart-3: hsl(118 19% 85%);
  --color-chart-4: hsl(118 9% 94%);
  --color-chart-5: hsl(118 34% 85%);

  --radius: 0.5rem;
}

:root {
  @variant dark {
    --color-background: hsl(118 40% 2%);
    --color-foreground: hsl(118 33% 97%);

    --color-card: hsl(118 40% 3%);
    --color-card-foreground: hsl(118 33% 98%);

    --color-popover: hsl(118 40% 3%);
    --color-popover-foreground: hsl(118 33% 98%);

    --color-primary: hsl(118 31% 85%);
    --color-primary-foreground: hsl(118 31% 25%);

    --color-secondary: hsl(118 2% 17%);
    --color-secondary-foreground: hsl(118 2% 77%);

    --color-muted: hsl(118 35% 15%);
    --color-muted-foreground: hsl(118 0% 71%);

    --color-accent: hsl(118 10% 22%);
    --color-accent-foreground: hsl(118 10% 82%);

    --color-destructive: hsl(13 94% 54%);
    --color-destructive-foreground: hsl(0 0% 100%);

    --color-border: hsl(118 7% 12%);
    --color-input: hsl(118 7% 12%);
    --color-ring: hsl(118 31% 85%);

    --color-chart-1: hsl(118 31% 85%);
    --color-chart-2: hsl(118 2% 17%);
    --color-chart-3: hsl(118 10% 22%);
    --color-chart-4: hsl(118 2% 20%);
    --color-chart-5: hsl(118 34% 85%);
  }
}
